aiocontextvars==0.2.2
aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncpg==0.25.0
attrs==21.4.0
backports.zoneinfo==0.2.1
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
colorthief==0.2.1
dateparser==1.1.0
discord.py @ git+https://github.com/Rapptz/discord.py@3d74da8d7062f0a61490c7d6cf86a43394aab3e5
fuzzywuzzy==0.18.0
googlemaps==4.6.0
idna==3.3
imageio==2.16.1
-e git+https://github.com/FoglyOgly/Meowth.git@25af28ea97c6abca9d3d6996c0c1cdef55984643#egg=Meowth
more-itertools==8.12.0
multidict==6.0.2
numpy==1.22.3
Pillow==9.3.0
pkg_resources==0.0.0
psutil==5.9.0
python-dateutil==2.8.2
python-Levenshtein==0.12.2
pytz==2021.3
pytz-deprecation-shim==0.1.0.post0
regex==2022.3.2
requests==2.27.1
six==1.16.0
staticmap==0.5.5
timezonefinder==5.2.0
typing_extensions==4.1.1
tzdata==2021.5
tzlocal==4.1
urllib3==1.26.8
yarl==1.7.2
